<%- include("./partials/head") %>

<body>
    <%- include("./partials/nav") %>
    <div class="flexWrapper">

        <div class="formContainer">
        
            <form class="createuser" action="" method="POST">
                <input type="text" 
                placeholder="brukernavn" 
                name="brukernavn" 
                id="brukernavn">
                <input type="password" 
                placeholder="password" 
                name="password" 
                id="password">
                <input type="password" 
                placeholder="gjenta passord" 
                name="repeatPassword" 
                id="repeatPassword">
                <input type="submit" name="send" id="">
            </form>
            <!-- <button>Logg inn</button> -->
            <a href="/login">Allerede bruker?</a>
            <a href="/dashboard">Til dashboard</a>
        </div>
    </div>
</body>