<%- include("./partials/head") %>

    <body>
        <!-- <%- include("./partials/nav") %> -->
            <div class="gridContainer">
                <div class="aside">
                 <a href="/">Tilbake</a>
                    
                    <a href="#tittel1">
                        <p>Lorem ipsum</p>
                    </a>
                    <a href="#tittel2">
                        <p>Lorem ipsum2</p>
                    </a>
                    <a href="#tittel3">
                        <p>Lorem ipsum3</p>
                    </a>
                    <a href="">
                        <p>Lorem ipsum4</p>
                    </a>
                    <a href="">
                        <p>Lorem ipsum5</p>
                    </a>



                </div>
                <div class="mainContainer">
                    <h1>Guide (to the galaxy)</h1>
                    <img class="galaxyPlaceholder" src="/img/galaxyPlaceholder.jpg" alt="">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt delectus molestias fugiat
                        doloribus voluptatibus quisquam cupiditate adipisci ducimus cum, sapiente exercitationem
                        expedita iusto, ratione vel atque in voluptatem. Quasi, totam!
                        Aspernatur rerum animi, veritatis facere quas consequuntur vero error tempora velit, corrupti
                        soluta quasi? Nostrum excepturi, impedit optio, consectetur eos ipsam ad id asperiores odit
                        quos, voluptatem modi magni perferendis!
                        Suscipit in, deleniti distinctio cumque libero ex accusamus placeat itaque impedit nesciunt
                        laboriosam voluptate nulla doloribus, laborum consequatur velit vero quod quae necessitatibus
                        asperiores recusandae ipsum pariatur esse? Harum, tempore?
                        Laborum ea soluta velit eligendi placeat quam nulla at dolores, amet officiis cupiditate
                        commodi, rem neque. Ullam quam reprehenderit fugiat earum quae quibusdam, nostrum porro
                        possimus? Iusto facilis cupiditate maxime!
                        Aspernatur suscipit, iusto, ipsam ullam laboriosam, odit vitae ea aperiam nulla error eius
                        soluta similique enim reiciendis dicta corrupti illum in quam minima harum eveniet voluptates!
                        Facere eius saepe hic.
                        Tempore quo cum vel id magni nam earum, delectus magnam aliquid a odio voluptatibus harum fugit
                        nulla, sequi necessitatibus, voluptates corporis. Similique molestias sed, tenetur autem id
                        laudantium suscipit inventore?
                        Consectetur repellat ducimus molestias suscipit repudiandae deleniti quia amet, perspiciatis hic
                        voluptatem, ipsam doloribus reiciendis sit saepe, ab voluptates. Voluptas itaque repellat ipsa
                        consequatur eaque doloribus reiciendis, nobis culpa est.
                        Qui inventore, voluptatibus nemo eligendi quam fugiat sunt a cumque assumenda rem in. Ab
                        molestias ea accusantium officia. Consectetur consequuntur dolorem distinctio commodi
                        reprehenderit quam quaerat. Nulla, id. Maxime, eligendi.
                        Voluptatibus voluptatem earum corrupti libero, beatae, dolore aperiam quae totam odio atque,
                        enim perferendis harum sint quibusdam fugiat sequi pariatur. In, numquam dolorum consequuntur
                        suscipit impedit vero natus culpa assumenda.
                        Magni quae cumque sed voluptates culpa fuga est natus eum enim. Voluptatum ullam sunt molestias
                        perspiciatis necessitatibus, placeat nemo magni soluta? Commodi, quos modi. Quis unde expedita
                        animi esse porro?</p>
                    <h2 id="tittel1">Tittel 1</h2>
                    <div class="infoContainer">

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate similique praesentium, dolorum
                            atque repudiandae aperiam possimus, facilis aliquid modi at voluptatibus laborum distinctio
                            aspernatur nisi provident sunt iusto explicabo cupiditate?
                            Nihil, totam magni, dicta inventore ullam, saepe ad eveniet consectetur a voluptatum pariatur
                            quidem deserunt quisquam aut in ipsum aliquam facilis blanditiis fugiat ut natus ea nemo!
                            Asperiores, obcaecati blanditiis.</p>
                            <img class="galaxyPlaceholder" src="/img/galaxyPlaceholder.jpg" alt="">

                        </div>
                    <h2 id="tittel2">Tittel 2</h2>
                    <div class="infoContainer">
                        
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate similique praesentium, dolorum
                            atque repudiandae aperiam possimus, facilis aliquid modi at voluptatibus laborum distinctio
                            aspernatur nisi provident sunt iusto explicabo cupiditate?
                            Nihil, totam magni, dicta inventore ullam, saepe ad eveniet consectetur a voluptatum pariatur
                            quidem deserunt quisquam aut in ipsum aliquam facilis blanditiis fugiat ut natus ea nemo!
                            Asperiores, obcaecati blanditiis.</p>
                            <img class="galaxyPlaceholder" src="/img/galaxyPlaceholder.jpg" alt="">

                        </div>
                            <h2 id="tittel3">Tittel 3</h2>
                            <div class="infoContainer">
                                
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate similique praesentium, dolorum
                                    atque repudiandae aperiam possimus, facilis aliquid modi at voluptatibus laborum distinctio
                                    aspernatur nisi provident sunt iusto explicabo cupiditate?
                                    Nihil, totam magni, dicta inventore ullam, saepe ad eveniet consectetur a voluptatum pariatur
                                    quidem deserunt quisquam aut in ipsum aliquam facilis blanditiis fugiat ut natus ea nemo!
                                    Asperiores, obcaecati blanditiis.</p>
                                    <img class="galaxyPlaceholder" src="/img/galaxyPlaceholder.jpg" alt="">
                                </div>
                    <h2 id="tittel4">Tittel 4</h2>
                    <div class="infoContainer">

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate similique praesentium, dolorum
                            atque repudiandae aperiam possimus, facilis aliquid modi at voluptatibus laborum distinctio
                            aspernatur nisi provident sunt iusto explicabo cupiditate?
                            Nihil, totam magni, dicta inventore ullam, saepe ad eveniet consectetur a voluptatum pariatur
                            quidem deserunt quisquam aut in ipsum aliquam facilis blanditiis fugiat ut natus ea nemo!
                            Asperiores, obcaecati blanditiis.</p>
                            <img class="galaxyPlaceholder" src="/img/galaxyPlaceholder.jpg" alt="">

                        </div>
                </div>
            </div>

    </body>