<%- include("./partials/head") %>

  <body>
    <%- include("./partials/nav") %>
      <main>
        <div class="searchContainer">
          <input type="text" name="search" id="search" placeholder="....search">
        </div>
        <div class="guideContainers">
          <a href="/guide"><div class="guideContainer"></div></a>
          <a href="/guide"><div class="guideContainer"></div></a>
          <a href="/guide"><div class="guideContainer"></div></a>
          <a href="/guide"><div class="guideContainer"></div></a>
          <a href="/guide"><div class="guideContainer"></div></a>
          <a href="/guide"><div class="guideContainer"></div></a>
          
   
        </div>
      </main>


  </body>

  </html>